boto
django-bootstrap3
django-debug-toolbar
django-debug-toolbar-template-timings
django-extensions
django-pipeline
django-form-utils
django-redis-cache
django-redis-sessions
django-secure
django-sslify
django-storages-redux
Django==1.9.6
django-shortuuidfield
dj-database-url
flake8
django-formtools
hiredis
ipython
mock
moto
paramiko
pep8
phonenumbers
Pillow
py-bcrypt
pycrypto
pyflakes
python-dateutil
pytz
raven
requests
setuptools
uwsgi
yolk
python-gettext
psycopg2
git+https://github.com/waseem-omar/django-template-email.git@master
django-waffle
validate_email
fiftythree-client
