coverage
django_coverage
dj-database-url
django-extensions
django-secure
django-storages
Django
flake8
ipython
mock
pep8
psycopg2
py-bcrypt
pycrypto
pyflakes
python-dateutil
pytz
setuptools
yolk
uwsgi
dj-static
requests
django-bootstrap3
