boto
cffi
django-bootstrap3==7.0.1
git+https://github.com/jazzband/django-debug-toolbar@master
django-debug-toolbar-template-timings
django-extensions==1.7.3
django-pipeline
django-form-utils
django-redis==4.4.3
git+https://github.com/rdegges/django-sslify@master
django-storages-redux==1.3.2
Django==1.10.1
django-shortuuidfield
dj-database-url
flake8
django-formtools
hiredis
ipython
mock
moto==0.4.25
paramiko
pep8
phonenumbers
Pillow
py-bcrypt==0.4
pycrypto==2.6.1
pyflakes
python-dateutil
pytz
raven==5.20.0
requests
setuptools
uwsgi
yolk
python-gettext
psycopg2
git+https://github.com/waseem-omar/django-template-email.git@master
git+https://github.com/foundertherapy/django-redis-secure.git@master
git+https://github.com/jsocol/django-waffle@master
validate_email
fiftythree-client
git+https://github.com/mozilla/django-csp.git@master
git+https://github.com/foundertherapy/django-users-plus.git@add_support_for_django_1.10
git+https://github.com/foundertherapy/django-axes.git@remove_dependency_on_ip
django-recaptcha
