{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1 class="text-center">{% blocktrans %}Coming Soon{% endblocktrans %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p class="lead text-center">
            {% blocktrans trimmed %}
            We&rsquo;re building out this super rad feature, but it's just not quite done yet. We'll let you know as soon as it is!
            {% endblocktrans %}
        </p>
    </div>

    <div class="visible-xs col-lg-3 col-md-4 col-sm-5 col-xs-12">&nbsp;</div>

</div>

{% endblock %}

{% block script %}
<!-- Google Code for Registration Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 911750952;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Wyk4CPG8q1kQqO7gsgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/911750952/?label=Wyk4CPG8q1kQqO7gsgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
{% endblock %}
