{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block body_javascript %}
    {# ONLY INCLUDE FACEBOOK SHARE IF WE HAVE A FACEBOOK APP CONFIGURED #}
    {% if FACEBOOK_APP_ID %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={{ FACEBOOK_APP_ID }}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script>
            fb_share = function () {
                FB.ui({
                    method: 'share',
                    mobile_iframe: true,
                    href: location.protocol + '//{{ request.site }}'
                }, function (response) {
                });
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row register-progress-space-below">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="register-progress-container">
                <div class="register-progressbar" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h1 class="title-bold-red">#ENDTHEWAITLIST</h1>
        </div>

        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
            <p class="done-text-bold margin-none">
                {% blocktrans trimmed %}
                    Spread the word…
                {% endblocktrans %}
            </p>
            <p class="done-text-regular margin-none">
                {% blocktrans trimmed %}
                    It's important that your friends and family know your donor wishes, so spread the word by tweeting "I am an
                    #OrganDonor" today.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row" style="margin: 40px 0;">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <video id="organizeVideo" width="320" height="176" controls="controls">
                <source src="{% static 'videos/social-declaration-30s.mp4' %}" type="video/mp4">
                <source src="{% static 'videos/social-declaration-30s.mkv' %}" type="video/webm">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row" style="margin-bottom: 80px;">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <img src="{% static 'images/twitter-icon.svg' %}" class="done-social-icon done-fb-icon"/>
            <a class="btn btn-default btn-organize done-btn-social done-btn-tweet"
               href="https://twitter.com/intent/tweet?text=I%20am%20an%20%23OrganDonor"
               role="button">Tweet</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <img src="{% static 'images/twitter_pic.svg' %}" class="done-twitter-pic"/>
        </div>
    </div>

{% endblock %}

{% block script %}
    <!-- Google Code for Registration Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 911750952;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "Wyk4CPG8q1kQqO7gsgM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <script type="text/javascript">
        var vid = document.getElementById("organizeVideo");

        $( document ).ready(function() {
            setTimeout(function() {
                 vid.autoplay = true;
                 vid.load();
            }, 5000);
        });
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/911750952/?label=Wyk4CPG8q1kQqO7gsgM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock %}
