{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block language_selector %}{% endblock %}

{% block content %}

<!-- Terms of Service SHA256: {{ hash }} -->
<!-- Terms of Service Active On: {{ active_on }} -->

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h1>
            {% blocktrans trimmed %}
            {{ title }}
            {% endblocktrans %}
        </h1>
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <p>{% blocktrans trimmed %}Last modified{% endblocktrans %}: {{ active_on|date:"F j, Y" }}</p>
        {{ content|safe }}
    </div>
</div>
{% endblock %}
