{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block script %}
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h3 class="title-bold-red"
                style="margin-bottom: 30px;">{% trans 'Revoke my registration from the ORGANIZE Registry' %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <form class="register revoke-form" role="form" action="{% url 'revoke' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name == "gender" %}
                        {% bootstrap_field field show_help=False size="large" field_class="personal-info-gender" form_group_class="form-group revoke-gender" %}
                    {% elif field.name == "agree_to_tos" %}
                        <div>
                            {% bootstrap_field field show_label=False show_help=False size="large" field_class="revoke-agree-to-tos" form_group_class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1 revoke-agree-to-tos-checkbox" %}
                            <div class="col-lg-11 col-md-11 col-sm-9 col-xs-11 revoke-agree-to-tos-text">
                                <label for="{{ field.id }}">
                                    {% blocktrans trimmed %}
                                        In order to revoke my organ and tissue donation status through Organize, I agree to ORGANIZE&rsquo;s <a href="#" onClick="window.open('&#047;terms-of-service&#047;', '_blank', 'width=900,height=900')">Terms of Service</a> and <a href="#" onClick="window.open('&#047;privacy-policy&#047;', '_blank', 'width=900,height=900')">Privacy Policy</a>.
                                    {% endblocktrans %}
                                </label>
                            </div>
                        </div>
                    {% else %}
                        {% bootstrap_field field show_help=False size="large" %}
                    {% endif %}
                {% endfor %}

                <hr/>

                <div class="revoke-submit-container">
                    {% buttons %}
                        <p>
                            <button type="submit" class="btn btn-primary btn-organize" disabled>
                                {% blocktrans %}Revoke my registration{% endblocktrans %} &rsaquo;
                            </button>
                        </p>
                    {% endbuttons %}
                </div>
                <p class="revoke-note">
                    {% blocktrans trimmed %}
                        This does <b>not</b> revoke your registration from your state registry. To revoke your registration from
                        your own state registry, you must do so directly through their online portal.
                    {% endblocktrans %}
                </p>

            </form>
        </div>
    </div>
{% endblock %}
