{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>{% blocktrans %}Thank you!{% endblocktrans %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p class="lead">
            {% blocktrans trimmed %}
            We have removed your registration from the ORGANIZE database, however, you may still be registered in your Donate Life state registry. To ensure you have fully de-registered, please visit your appropriate state registry website and update your status there as well.
            {% endblocktrans %}
        </p>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
