{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<img src="https://secure.fastclick.net/w/roitrack.cgi?aid=1000050676" width=1 height=1 border=0>
<img src="https://secure.fastclick.net/w/tre?ad_id=60292;evt=29230;cat1=39656;cat2=39657;rand={% now "U" %}" width="1" height="1" border="0">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>{% autoescape off %}{% blocktrans %}{{ page_title }}{% endblocktrans %}{% endautoescape %}</h1>
    </div>
</div>

<div class="row status-bar">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        {% spaceless %}
            <div class="step"></div>
        {% endspaceless %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <form class="register" role="form" action="{% url 'start' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form size='lg' %}

            <hr />

            {% buttons %}
                {% if update %}
                    <a href="{% url 'start' %}" class="btn btn-secondary btn-organize" tabindex="100">
                        &lsaquo; {% blocktrans %}Cancel{% endblocktrans %}
                    </a>
                {% endif %}

                <button type="submit" class="btn btn-primary btn-organize" disabled>
                    {% blocktrans %}Continue{% endblocktrans %} &rsaquo;
                </button>

                {% if not update %}
                    <a href="{% url 'update_choice' %}" class="btn btn-link" tabindex="100">
                        {% blocktrans %}Update registration{% endblocktrans %}
                    </a>
                {% endif %}
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
