{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>{% autoescape off %}{% blocktrans %}{{ page_title }}{% endblocktrans %}{% endautoescape %}</h1>
    </div>
</div>

<div class="row status-bar">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        {% spaceless %}
            <div class="step"></div>
        {% endspaceless %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <script id="organize_widget_script">
            (function() {
                var scriptTag = document.createElement('script');
                scriptTag.setAttribute('src', 'http://127.0.0.1:8888/static/js/widget.js');

                organizeScriptNode = document.getElementById('organize_widget_script');
                parentNode = organizeScriptNode.parentNode;

                parentNode.insertBefore(scriptTag, organizeScriptNode);
            })();
        </script>

        <form class="register" role="form" action="{% url 'start' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form size='lg' %}

            <hr />

            {% buttons %}
                {% if update %}
                    <a href="{% url 'start' %}" class="btn btn-secondary btn-organize" tabindex="100">
                        &lsaquo; {% blocktrans %}Cancel{% endblocktrans %}
                    </a>
                {% endif %}

                <button type="submit" class="btn btn-primary btn-organize" disabled>
                    {% blocktrans %}Continue{% endblocktrans %} &rsaquo;
                </button>

                {% if not update %}
                    <a href="{% url 'update_choice' %}" class="btn btn-link" tabindex="100">
                        {% blocktrans %}Update registration{% endblocktrans %}
                    </a>
                {% endif %}
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
