{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<img src="https://secure.fastclick.net/w/roitrack.cgi?aid=1000050676" width=1 height=1 border=0>
<img src="https://secure.fastclick.net/w/tre?ad_id=60292;evt=29230;cat1=39656;cat2=39657;rand={% now "U" %}" width="1" height="1" border="0">
{% endblock %}

{% block container_class %}upenn-container{% endblock %}
{% block body_class %}upenn-start{% endblock %}

{% block navbar_brand %}
    <div class="col-lg-4 col-md-5 col-sm-7 col-xs-8">
        <p>
            <img class="img-responsive" alt="UPENN Logo" src="{% static 'images/penn_logo.png' %}"/>
        </p>
    </div>
{% endblock %}

{% block language_selector %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12">
        <img src="{% static 'images/heart.jpg' %}" class="upenn-heart-img">
    </div>

    <div class="col-lg-5 col-md-8 col-sm-10 col-xs-12">
        <div style="background: #cd0000;" class="upenn-form-message-div">
            <div class="upenn-intro-message">
                <p class="upenn-intro-message-1">
                    {% blocktrans trimmed %}
                    SAY <label style="font-family: BebasNeueBold; color: inherit">YES</label> TO
                    {% endblocktrans %}
                </p>
                <p class="upenn-intro-message-1">
                    {% blocktrans trimmed %}
                    ORGAN DONATION
                    {% endblocktrans %}
                </p>
                <p class="upenn-intro-message-2">
                    {% blocktrans trimmed %}
                    BECOME AN ORGAN DONOR
                    {% endblocktrans %}
                </p>
            </div>

            {% block upenn_donate_form %}
            <form class="register" role="form" action="{% block upenn_donate_form_action_url %}{% url 'upenn_donate' %}{% endblock %}" method="post" style="width: 80%; margin: 0 auto; margin-top: 24px;">
                {% csrf_token %}
                {% bootstrap_form form size='lg' %}

                {% buttons %}
                    <button type="submit" style="background: #000000; color: #ffffff; width: 100%; padding: 14px; border: black; margin-top: 5px; height: 64px; border-radius: 3px; font-size: 30px; font-family: BebasNeueLight;" disabled>
                        {% blocktrans %}REGISTER{% endblocktrans %}
                    </button>
                {% endbuttons %}
            </form>
            {% endblock %}

            <div class="upenn-about-message">
                <p>
                    {% blocktrans trimmed %}
                        As an official registry, ORGANIZE keeps all of your information encrypted and secure. Any information you enter is only used for the purposes of facilitating your wishes regarding organ donation (you can read our Terms of Service).
                    {% endblocktrans %}
                </p>
                <p>
                    <button type="button" class="upenn-about-button" data-toggle="modal" data-target=".upenn-organize-modal-lg">About</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="upennAboutModal" class="modal fade upenn-organize-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header upenn-organize-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title upenn-organize-modal-title">{% autoescape off %}About{% endautoescape %}</h4>
      </div>
      <div class="modal-body upenn-organize-modal-body">
        <p>
            {% autoescape off %}
            Organ Donation Saves Lives! We are inviting you to register as an organ donor. University of Pennsylvania researcher, Peter Reese, MD, in collaboration with the non-profit Organize.org is collecting information to determine which messages for organ donation result in higher registration rates. Your privacy is important. The data the research team collects will contain no personally identifiable information.
            {% endautoescape %}
        </p>
        <p>
            {% autoescape off %}
            Peter Reese, MD, MSCE is a transplant doctor and researcher. His research focuses on effective strategies to increase access to kidney transplantation. Learn more at http://www.med.upenn.edu/reeselab/.
            {% endautoescape %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default btn-cancel-upenn-modal-organize" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_footer %}
    <br/>
    <br/>
    <div class="row" style="color: white;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white;">
            <label style="color: inherit; margin-right: 4px; font-family: BebasNeueLight; font-size: 23px;">powered by</label>
            <img style="vertical-align: top;" width="160" height="24" alt="ORGANIZE Logo" src="{% static 'images/logo-white.svg' %}"/>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
