{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1 class="text-center">{% blocktrans %}Here you go!{% endblocktrans %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div id="id_widget_choice">
            <div class="radio input-lg" style="margin-bottom: 20px;">
                <input class="" id="id_widget_choice_0" name="widget_choice" required="required" img-height="625px" title="" type="radio" value="GivingTuesday_One_Pager-03">
                <label for="id_widget_choice_0"><img style="height: 415px;" src="{% static 'images/GivingTuesday_One_Pager-03.png' %}"/></label>
            </div>
            <div class="radio input-lg" style="margin-bottom: 20px;">
                <input class="" id="id_widget_choice_1" name="widget_choice" required="required" img-height="62px" title="" type="radio" value="GivingTuesday_One_Pager-04">
                <label for="id_widget_choice_1"><img style="height: 42px;" src="{% static 'images/GivingTuesday_One_Pager-04.png' %}"/></label>
            </div>
            <div class="radio input-lg" style="margin-bottom: 20px;">
                <input class="" id="id_widget_choice_2" name="widget_choice" required="required" img-height="260px" title="" type="radio" value="GivingTuesday_One_Pager-10">
                <label for="id_widget_choice_2"><img style="height: 170px;" src="{% static 'images/GivingTuesday_One_Pager-10.png' %}"/></label>
            </div>
            <div class="radio input-lg" style="margin-bottom: 20px;">
                <input class="" id="id_widget_choice_3" name="widget_choice" required="required" img-height="260px" title="" type="radio" value="GivingTuesday_One_Pager-11">
                <label for="id_widget_choice_3"><img style="height: 170px;" src="{% static 'images/GivingTuesday_One_Pager-11.png' %}"/></label>
            </div>
            <div class="radio input-lg" style="margin-bottom: 20px;">
                <input class="" id="id_widget_choice_4" name="widget_choice" required="required" img-height="166px" title="" type="radio" value="GivingTuesday_One_Pager-12">
                <label for="id_widget_choice_4"><img style="height: 111px;" src="{% static 'images/GivingTuesday_One_Pager-12.png' %}"/></label>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-24">
        <p class="lead text-center">
            {% blocktrans trimmed %}
                <p style="font-size: medium;">Please copy this code to your site in order to get the widget displayed.</p>
            {% endblocktrans %}
            <!--
                <script id="organize_widget_script">
                    var sourceUUID = '{{ company_source }}';
                    (function() {
                        var scriptTag = document.createElement('script');
                        scriptTag.setAttribute('src', 'http://127.0.0.1:8888/static/js/widget.js');
                        var organizeScriptNode = document.getElementById('organize_widget_script');
                        var parentNode = organizeScriptNode.parentNode;
                        parentNode.insertBefore(scriptTag, organizeScriptNode);
                    })();
                </script>
            -->
            <textarea id="widget-script-textarea" class="form-control custom-control" readonly rows="10" style="cursor: pointer; margin-top: 10px;" data-clipboard-target="#widget-script-textarea" onclick="Javascript: new Clipboard('#widget-script-textarea');">

            </textarea>
            {% blocktrans trimmed %}
                <p style="font-size: small; color: #aaaaaa;">* Click on the text area to copy to clipboard.</p>
            {% endblocktrans %}

        </p>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- Google Code for Registration Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 911750952;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Wyk4CPG8q1kQqO7gsgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/911750952/?label=Wyk4CPG8q1kQqO7gsgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script type="text/javascript">
    $('input[name="widget_choice"]').on('change', function(){
        var jsCode = $(this).val();
        var imgHeight = $(this).attr("img-height");
        $("#widget-script-textarea").val("").delay(200).queue(function(setJSCode) {
              $("#widget-script-textarea").val(
                      "<div style=\"height:" + imgHeight + ";\"><script id=\"organize_widget_script\"> " +
                      "var organizeSourceUUID = \"{{ company_source }}\";var organizeWidgetChoice = \"" + jsCode + "\";" +
                      "!function(){var t=document.createElement(\"script\");" +
                      "t.setAttribute(\"src\", \"{% static 'js/widget.js' %}\");" +
                      "var e=document.getElementById(\"organize_widget_script\");" +
                      "r=e.parentNode;r.insertBefore(t,e)}(); <\/script><\/div>");
              setJSCode();
        });
    });
</script>
{% endblock %}
