/* HEADER */

#header {
    background: #e92530;
    color: #fff;
}

#header a:link, #header a:visited {
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

#branding h2 {
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #666;
}

a:link, a:visited {
    color: #777;
    text-decoration: none;
}

.module, table {
    border-color: #666;
}

.locked-out-container {
    text-align: center;
    margin-top: 20%;
}

.locked-out-container #recaptcha_area {
    margin: 0 auto;
}

.locked-out-container div.form-actions {
    margin-top: 10px;
}

.locked-out-container div.input-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

.locked-out-container div.login-message {
    color: red;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .locked-out-container {
        margin-top: 50%;
    }
}
