/* HEADER */

#header {
    background: #e92530;
    color: #fff;
}

#header a:link, #header a:visited {
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

#branding h2 {
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #666;
}

a:link, a:visited {
    color: #777;
    text-decoration: none;
}

.module, table {
    border-color: #666;
}

.logout-form {
    display: inline;
}

.logout-form .logout-btn {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding: inherit;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: right;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.logout-form .logout-btn:hover {
    border-bottom: 1px solid #79aec8;
}

