@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BebasNeueRegular.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeueLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BebasNeueLight.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeueBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BebasNeueBold.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeueBook';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BebasNeueBook.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeueThin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BebasNeueThin.otf') format('opentype');
}

body {
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12N4q6QCAAMzATQeQy8IAAAAAElFTkSuQmCC") no-repeat top center;
    background-size: 100% 10px;
    font-family: 'Lato', sans-serif;
}

.footer {
    /*margin-bottom: 20px;*/
    font-size: 10px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:768px) {
    .footer {
        font-size: 14px
    }
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}


.footer-spacer {
    height: 10px;
}

.header {
    padding-top: 40px;
    height: 110px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-upper {
    text-transform: uppercase;
}

.organize-red {
    color: #ed2224;
}

.organize-green {
    color: #66D42F;
}

.organize-red-background {
    background-color: #ed2224 !important;
}

.organize-black {
    color: #191919;
}

.organize-gray {
    color: #333;
}

.organize-gray-background {
    background-color: #ddd;
}

.status-bar {
    margin: 15px -15px;
    position: relative;
}

.status-bar .step {
    width: 10%;
    height: 10px;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 85%;
}

.status-bar .step-counter {
    line-height: 1;
    margin-left: 10px;
    display: inline-block;
    font-size: 85%;
}

.status-bar .step-wide {
    width: 60%;
    height: 10px;
    padding: 0;
    margin: 0 auto;
    line-height: 1;
}

.status-bar-icon {
    color: #ed2224;
    padding: 0;
    margin: 0;
}

.status-bar-icon > .glyphicon {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==") no-repeat 2px 2px;
    background-size: 56px 56px;
    top: -34px;
    padding: 0;
    font-size: 60px;
    margin: auto;
    display: block;
    width: 60px;
}

.btn-organize,
.btn-organize:hover,
.btn-organize:focus,
.btn-organize:active,
.btn-organize.active {
    color: #fff;
    font-family: "BebasNeue", sans-serif;
    font-size: 34px;
    line-height: 1;
    background-color: #ed2224;
    border-color: #ed2224;
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 20px 4px 20px;
    letter-spacing: 6px;
    margin-right: 10px;
}

button.btn-organize:last-of-type {
    margin-right: 0;
}

.btn-organize.disabled,
.btn-organize[disabled],
.btn-organize.disabled:hover,
.btn-organize[disabled]:hover {
    color: #fff;
    background-color: #222;
    *background-color:#222;
    border-color: #222;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    font-family: "BebasNeue", sans-serif;
    font-size: 34px;
    background-color: #aaa;
    border-color: #aaa;
    padding: 12px 20px 4px 20px;
    letter-spacing: 6px;
    margin-right: 10px;
}

.btn-secondary.disabled,
.btn-secondary[disabled] {
    color: #fff;
    background-color:#aaa;
    *background-color:#aaa;
    border-color: #aaa;
}

label {
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-transform: none;
}

.help-block {
    color: #333;
}

.form-control {
    border-radius: 0;
    background-color: #eee;
    border-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control {
    border-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.has-success .input-group-addon {
    color: #333;
    background-color: #eee;
    border-color: #eee;
}

.has-success .form-control-feedback {
    color:#333;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color:#333
}

legend {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: none;
    margin-bottom: 5px;
}

hr {
    margin: 25px 0;
}

.form-group {
    margin: 0 0 20px;
}

.form-group:last-of-type {
    margin-bottom: 0;
}

.checkboxes .form-group {
    margin: 0;
}

.social-icons, .start-campaign-section {
    text-align: center;
    margin-top: 20px;
}

a.email-icon {
    background: #fff url("../images/email.png") no-repeat top center;
    height: 100px;
    width: 28%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.twitter-icon {
    background: #fff url("../images/twitter.png") no-repeat top center;
    height: 100px;
    width: 28%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.facebook-icon {
    background: #fff url("../images/facebook.png") no-repeat top center;
    height: 100px;
    width: 28%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.email-icon {
    background: #fff url("../images/email.png") no-repeat top center;
    height: 100px;
    width: 30%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}


.field-help {
    display: inline-block;
    padding: 0 5px;
    color: #333;
    margin-bottom: 5px;
    font-weight: normal;
}

.popover {
    font-family: inherit;
}

div.radio.input-lg {
    padding: 0 0 0 20px;
    height: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
}

div.radio label,
div.checkbox label {
    color: #555;
}

.checkbox {
    height: inherit;
    padding: 0 0 0 20px;
    margin: 0;
}

legend {
    color: #333;
}

.checkbox input[type=checkbox] + label::before,
.radio input[type=radio] + label::before {
    top: 4px;
    background-color: #aaa;
    border-color: #aaa;
}

.checkbox input[type=checkbox]:checked + label::before,
.radio input[type=radio]:checked + label::before {
    background-color: #ed2224;
    border-color: #ed2224;
}

.checkbox label::after {
    color: #fff;
    padding-top: 6px;
}

.radio label::after {
    background-color: #fff;
    top: 7px;
}

.hashtag-large {
    font-family: "BebasNeue", sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #ed2224;
    letter-spacing: 10px;
}

@media (max-width:767px) {
    .hashtag-large {
        font-size: 55px;
        letter-spacing: 5px;
    }
}

@media (max-width:480px) {
    .hashtag-large {
        font-size: 40px;
        letter-spacing: 5px;
    }
}


.widget-cta {
    margin-right: 10px;
    margin-bottom: 10px;
    /*border: 3px solid #fff;*/
    border: 1px solid #021a40;
    float: left;
}

.widget-cta.selected {
    /*border: 3px solid #000;*/
    -moz-box-shadow: 0 0 9px 2px #000000;
    -webkit-box-shadow: 0 0 9px 2px #000000;
    box-shadow: 0 0 9px 2px #000000;
}

.widget-script {
    cursor: pointer;
    margin-top: 10px;
}

.panel.nok {
    border-color: #000;
    border-radius: 0;
}

.panel.nok .panel-heading {
    background: #000;
    border-radius: 0;
}

.panel.nok h3.panel-title {
    color: #eee;
    font-weight: normal;
}

body.register-done {
    background: url('../images/thankyou-background.png') #000 no-repeat center top;
    color: #eee;
}

body.email-nok {
    background: url('../images/email-nok-background.png') #000 no-repeat center top;
    color: #eee;
}

body.email-nok a,
body.register-done a {
    color: #eee;
}

body.email-nok a:hover,
body.email-nok a:focus,
body.register-done a:hover,
body.register-done a:focus {
    color: #fff;
}

body.email-nok a.skip {
    color: #777;
    padding: 12px 0 4px;
}

body.email-nok a.skip:hover,
body.email-nok a.skip:focus {
    color: #888;
}

body.register-done .btn-organize,
body.register-done .btn-organize:hover,
body.register-done .btn-organize:focus,
body.register-done .btn-organize:active,
body.register-done .btn-organize.active {
    color: #fff;
    font-family: "BebasNeue", sans-serif;
    font-size: 24px;
    line-height: 1;
    background-color: #ed2224;
    border-color: #ed2224;
    border-radius: 0;
    text-transform: none !important;
    padding: 12px 20px;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .btn-submit-reg, .btn-submit-reg:hover {
        width: 100%;
        font-size: 20px;
    }
}
@media (min-width: 769px) {
    .btn-submit-reg {
        width: 100%;
        font-size: 34px;
    }
}

div.black {
    background: #000;
}

body.email-nok footer,
body.register-done footer {
    display: none;
}

body.upenn-start {
    background: #000;
}

@media (min-width: 1772px) {
    .upenn-container {
        width: 1768px;
    }
    .upenn-heart-img {
        height: 1009px;
    }
    .upenn-form-message-div {
        height: 1009px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 78px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message {
        padding-top: 50px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 22px;
        padding: 30px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 1485px) and (max-width: 1771px) {
    .upenn-container {
        width: 1483px;
    }
    .upenn-heart-img {
        width: 1000px;
        height: 1012px;
    }
    .upenn-form-message-div {
        height: 1012px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 78px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message {
        padding-top: 50px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 22px;
        padding: 30px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 1200px) and (max-width: 1484px) {
    .upenn-container {
        width: 1141px;
    }
    .upenn-heart-img {
        width: 665px;
        height: 690px;
    }
    .upenn-form-message-div {
        height: 690px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 48px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 32px;
    }
    .upenn-intro-message {
        padding-top: 20px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 16px;
        padding: 10px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .upenn-container {
        width: 976px;
    }
    .upenn-heart-img {
        width: 930px;
        height: 917px;
    }
    .upenn-form-message-div {
        width: 930px;
        height: 837px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 78px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message {
        padding-top: 20px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 18px;
        padding: 30px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .upenn-container {
        width: 584px;
    }
    .upenn-heart-img {
        width: 550px;
        height: 537px;
    }
    .upenn-form-message-div {
        width: 550px;
        height: 931px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 78px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message {
        padding-top: 20px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 18px;
        padding: 30px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (min-width: 475px) and (max-width: 767px) {
    .upenn-container {
        width: 100%;
    }
    .upenn-heart-img {
        width: 100%;
    }
    .upenn-form-message-div {
        width: 100%;
        height: 931px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 78px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message {
        padding-top: 20px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 18px;
        padding: 30px 10px 10px 10px;
        letter-spacing: 1px;
    }
}
@media (max-width: 474px) {
    .upenn-container {
        width: 100%;
    }
    .upenn-heart-img {
        width: 100%;
    }
    .upenn-form-message-div {
        width: 100%;
        height: 931px;
    }
    .upenn-intro-message-1 {
        font-family: "BebasNeueLight";
        font-size: 52px;
    }
    .upenn-intro-message-2 {
        font-family: "BebasNeueLight";
        font-size: 32px;
    }
    .upenn-intro-message {
        padding-top: 20px;
        color: white;
        margin-bottom: 24px;
        text-align: center;
    }
    .upenn-about-message {
        color: white;
        margin-bottom: 24px;
        text-align: center;
        font-family: "BebasNeueLight";
        font-size: 18px;
        padding: 20px 10px 10px 10px;
        letter-spacing: 1px;
    }
}

.upenn-text-field {
    font-size: 26px;
    font-family: "BebasNeueLight";
    height: 57px;
    border-radius: 3px;
}

.intro-message{
    font-size: 17px;
    margin-bottom: -24px;
}
.explanatory-text {
    font-size: 18px;
    margin-bottom: 14px;
}

.subscribe_to_email_list_wrapper {
    margin-top: 20px;
}

.organize-modal-header {
    background-color: #ed2224;
    border-color: #ed2224;
}

.organize-modal-title {
    color: white;
}
.btn-ok-modal-organize {
    background-color: #ed2224;
    border-color: #ed2224;
}

.btn-cancel-modal-organize {
    background-color: #aaa;
    border-color: #aaa;
}
.organize-modal-body {
    font-size: 16px;
    font-weight: 700;
}

.btn-ok-modal-organize:hover {
    background-color: #aaa;
    border-color: #aaa;
}

.modal-content {
    overflow: hidden;
}

.invalid-data-error .help-block {
    font-size: larger;
    color: #ffffff;
}

.help-block .hint-license-id-format {
    font-size: medium;
    font-style: italic;
}

.upenn-organize-modal-header {
    background-color: #cd0000;
    border-color: #cd0000;
}

.upenn-organize-modal-body {
    font-size: 32px;
    font-family: "BebasNeueBook";
    letter-spacing: 0.5px;
}

.upenn-organize-modal {
    width: 600px;
}

.upenn-organize-modal-title {
    font-size: 32px;
    color: white;
    font-family: "BebasNeue";
}

.upenn-about-button {
    border: none;
    background: none;
    outline: none;
    text-decoration: underline;
    font-family: "BebasNeueBold";
}

.btn-cancel-upenn-modal-organize {
    background-color: #aaa;
    border-color: #aaa;
    font-family: BebasNeueBold;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.penn-logo {
    float: right;
}
