@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BebasNeueRegular.otf') format('opentype');
}

body {
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12O4omsKAAMPATfbtRcqAAAAAElFTkSuQmCC") no-repeat top center;
    background-size: 100% 10px;
    padding-bottom: 80px;
    font-family: 'Lato', sans-serif;
}

body:after {
    content: "";
    position: fixed;
    background: #111;
    left: 0;
    right: 0;
    height: 60px;
}

body:after {
    bottom: 0;
}

.navbar {
    min-height: 100px;
    margin-bottom: 0;
}

.navbar-brand {
    height: 100px;
    padding: 50px 0;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.organize-red {
    color: #d40000;
}

.organize-green {
    color: #66D42F;
}

.organize-red-background {
    background-color: #d40000 !important;
}

.organize-black {
    color: #191919;
}

.organize-gray {
    color: #aaa;
}

.organize-gray-background {
    background-color: #ddd;
}

.status-bar {
    margin-bottom: 40px;
    position: relative;
}

.status-bar .step {
    width: 10%;
    height: 10px;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 85%;
}

.status-bar .step-counter {
    line-height: 1;
    margin-left: 10px;
    display: inline-block;
    font-size: 85%;
}

.status-bar-icon {
    color: #d40000;
    padding: 0;
    margin: 0;
}

.status-bar-icon > .glyphicon {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==") no-repeat 2px 2px;
    background-size: 56px 56px;
    top: -34px;
    padding: 0;
    font-size: 60px;
    margin: auto;
    display: block;
    width: 60px;
}


.btn-organize,
.btn-organize:hover,
.btn-organize:focus,
.btn-organize:active,
.btn-organize.active {
    color: #fff;
    font-family: "BebasNeue", sans-serif;
    font-size: 34px;
    line-height: 1;
    background-color: #d40000;
    border-color: #d40000;
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 20px 4px 30px;
    letter-spacing: 6px;
    margin-right: 20px;
}

.btn-organize.disabled,
.btn-organize[disabled] {
    color: #fff;
    background-color: #222;
    *background-color:#222;
    border-color: #222;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    font-family: "BebasNeue", sans-serif;
    font-size: 34px;
    background-color: #aaa;
    border-color: #aaa;
    padding: 12px 20px 4px 30px;
    letter-spacing: 6px;
    margin-right: 20px;
}

.btn-secondary.disabled,
.btn-secondary[disabled] {
    color: #fff;
    background-color:#aaa;
    *background-color:#aaa;
    border-color: #aaa;
}

label {
    color: #aaa;
    text-transform: uppercase;
    font-weight: normal;
}

.form-control {
    border-radius: 0;
    background-color: #eee;
    border-color: #eee
    -webkit-box-shadow: none;
    box-shadow: none;
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}


.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color:#aaa
}

.has-success .form-control {
    border-color:#eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color:#eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .input-group-addon {
    color:#aaa;
    background-color:#eee;
    border-color:#eee;
}

.has-success .form-control-feedback {
    color:#aaa;
}

legend {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: none;
    margin-bottom: 5px;
}

hr {
    margin: 15px 0;
}

.form-group {
    margin: 8px 0;
}

.form-group:last-of-type {
    margin-bottom: 0;
}

.social-icons {
    text-align: center;
    margin-top: 40px;
}

a.twitter-icon {
    background: #fff url("../images/twitter.png") no-repeat top center;
    height: 100px;
    width: 20%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.facebook-icon {
    background: #fff url("../images/facebook.png") no-repeat top center;
    height: 100px;
    width: 20%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.instagram-icon {
    background: #fff url("../images/instagram.png") no-repeat top center;
    height: 100px;
    width: 20%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}

a.email-icon {
    background: #fff url("../images/email.png") no-repeat top center;
    height: 100px;
    width: 20%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}
