{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h1 style="margin-bottom: 50px;" class="text-center">{{ title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    </div>
</div>

<div class="row status-bar">
    <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 organize-red-background"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 organize-red-background"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 organize-red-background"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 organize-red-background"></div>

    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md organize-red-background"></div>
    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md organize-red-background"></div>
    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md hidden-sm organize-red-background"></div>
    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md hidden-sm organize-red-background"></div>
    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md hidden-sm organize-red-background"></div>
    <div class="col-sm-1 col-xs-1 hidden-lg hidden-md hidden-sm organize-red-background"></div>


    <div class="status-bar-icon">
        <span class="glyphicon glyphicon-ok-circle"></span>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <p class="lead">
            {% blocktrans trimmed %}
            You&rsquo;re all set. You are now a registered organ donor. Seriously, you&rsquo;re all done, we won&rsquo;t even mail you or anything.
            {% endblocktrans %}
        </p>

        <hr/>

        <p style="padding: 10px 0;"><em>
            {% blocktrans trimmed %}
            The only thing we ask of you is to talk to your family and friends and let them know your decision. You could also encourage them to register as organ donors. Tell the world.
            {% endblocktrans %}
        </em></p>
        <hr/>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="social-icons">
            <a href="https://www.facebook.com/Organize" class="facebook-icon">&nbsp;</a>
            <a href="https://twitter.com/organ_ize" class="twitter-icon">&nbsp;</a>
            <a href="http://instagram.com/organ_ize" class="instagram-icon">&nbsp;</a>
            <a href="mailto:" class="email-icon">&nbsp;</a>
        </div>
    </div>
</div>


{% endblock %}
