{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load registration_extras %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row register-progress-space-below">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        {% spaceless %}
            <div class="register-progress-container">
                {% if wizard.steps.current == "1" %}
                    <div class="register-progressbar" style="width: 33%"></div>
                {% elif wizard.steps.current == "2" %}
                    <div class="register-progressbar" style="width: 66%"></div>
                {% else %}
                    <div class="register-progressbar" style="width: 100%"></div>
                {% endif %}
            </div>
        {% endspaceless %}
    </div>
</div>
{% if wizard.steps.current != wizard.steps.last %}
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <h3 class="title-bold-red">{% blocktrans %}{{ title }}{% endblocktrans %}</h3>
        </div>
    </div>
{% endif %}

{% if non_field_errors %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-sm-offset-2 col-xs-12">
            <div class="alert alert-danger alert-dismissable alert-link">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                {{ non_field_errors }}
            </div>
        </div>
    </div>
{% endif %}

{% if terms_of_service %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-sm-offset-2 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Terms of Service</h3>
                </div>
                <div class="panel-body" style="max-height: 315px; overflow-y: auto;">
                    {{ terms_of_service }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if explanatory_text %}
<div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
            {% with 'images/states_maps/'|add:state|add:'.png' as state_image_path %}
                <img src="{% static state_image_path %}" style="width: 100%;"/>
            {% endwith %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 explanatory-text title-bold-red">
            {% autoescape off %} {% trans explanatory_text %} {% endautoescape %}
        </div>
    </div>
</div>
{% endif %}

{% if title == 'Please specify your donation preferences' %}
    <div class="row donation-pref-form">
{% else %}
    <div class="row identity-form">
{% endif %}

    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <form class="register" role="form" action="." method="post">
            {% csrf_token %}

            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {% bootstrap_form form %}
                {% endfor %}
            {% else %}
                {% if wizard.form.non_field_errors %}
                    {% bootstrap_form_errors wizard.form type='non_fields' %}
                {% endif %}

                {% for fieldset in wizard.form.fieldsets %}
                    {% if not forloop.first %}
                        <hr/>{% endif %}

                    <fieldset class="{{ fieldset.classes }}">

                        {% if wizard.form.fieldsets|length > 1 %}
                            {% if fieldset.legend %}
                                <legend>{% blocktrans with legend=fieldset.legend %}{{ legend }}{% endblocktrans %}</legend>
                            {% endif %}
                            {% if fieldset.description %}
                                <p class="description">
                                    {% blocktrans with description=fieldset.description %}{{ description }}{% endblocktrans %}
                                </p>
                            {% endif %}
                        {% endif %}

                        {% for field in fieldset %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                {% if field.name == 'subscribe_to_email_list' and wizard.steps.current == wizard.steps.last %}
                                    {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' field_class='subscribe_to_email_list_wrapper' %}
                                {% elif field.name == 'gender' %}
                                    {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' field_class='personal-info-gender' form_group_class='form-group revoke-gender' %}
                                {% elif field.name == 'city' %}
                                    <div class="col-md-6 col-sm-12 col-xs-12 personal-info-city">
                                        {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' %}
                                    </div>
                                {% elif field.name == 'state' %}
                                    <div class="col-md-3 col-sm-12 col-xs-12 personal-info-state">
                                        {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' %}
                                    </div>
                                {% elif field.name == 'postal_code' %}
                                    <div class="col-md-3 col-sm-12 col-xs-12 personal-info-zip-code">
                                        {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' %}
                                    </div>
                                {% elif field.name == 'agree_to_tos' %}
                                    {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' form_group_class='form-group identity-agree-to-tos' %}
                                {% else %}
                                    {% bootstrap_field field=field|tabindex:forloop.parentloop.counter size='lg' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                {% endfor %}
            {% endif %}

            <br/>

            {% buttons %}

                <a
                        {% if wizard.steps.prev %}
                            href="{% url 'register' step=wizard.steps.prev %}"
                        {% else %}
                            href="{% url 'start' %}"
                        {% endif %}
                            class="btn btn-secondary btn-organize" tabindex="100">&lsaquo; {% blocktrans %}Back{% endblocktrans %}</a>


                {% if wizard.steps.current == wizard.steps.last %}
                    <button type="submit" class="btn btn-primary btn-organize btn-submit-reg" tabindex="99" disabled>
                        {% blocktrans %}Submit{% endblocktrans %} &rsaquo;
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-organize" tabindex="99" disabled>
                        {% blocktrans %}Continue{% endblocktrans %} &rsaquo;
                    </button>
                {% endif %}
            {% endbuttons %}
        </form>
        <br/>
    </div>
</div>
{% if license_id_formats %}
<div id="license-id-formats" style="display: none;">
    {{ license_id_formats| safe }}
</div>

<div id="warningModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header organize-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title organize-modal-title">
                    {% autoescape off %}{{ invalid_license_modal_content.title }}{% endautoescape %}</h4>
            </div>
            <div class="modal-body organize-modal-body">
                <p>{% autoescape off %}{{ invalid_license_modal_content.body }}{% endautoescape %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-default btn-cancel-modal-organize">
                    {% autoescape off %}{{ invalid_license_modal_content.cancel }}{% endautoescape %}</button>
                <button type="button" id="proceed" class="btn btn-primary btn-ok-modal-organize">
                    {% autoescape off %}{{ invalid_license_modal_content.ok }}{% endautoescape %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
