{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}Giving Tuesday Embedded Registration{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
        <p class="lead">
            {% blocktrans trimmed %}
                Thanks so much for partnering with ORGANIZE for Giving Tuesday!
            {% endblocktrans %}
        </p>
        <p class="lead">
            {% blocktrans trimmed %}
                Please fill out the form below to register your site to host an embedded Organ Donor Registration form. Once completed, you will be able to configure the Register button that will appear within your site&rsquo;s content, and you will be given the JavaScript code to copy-and-paste into your site&rsquo;s pages.
            {% endblocktrans %}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <form class="register" role="form" action="{% url 'widget_create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form size='lg' %}

            <hr />

            {% buttons %}
                <button type="submit" class="btn btn-primary btn-organize" disabled>
                    {% blocktrans %}Submit{% endblocktrans %} &rsaquo;
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
