{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}Organ Donation Builder Tool - Terms of Service{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>Organ Donation Builder Tool - Terms of Service</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
        <p>Last modified: November 17, 2015</p>

        <p>Thank you for using the ORGANIZE Organ Donation Builder Tool! These
            Terms of Service (&ldquo;<strong>Terms</strong>&rdquo;) are entered
            into by Organ Alliance Inc. (&ldquo;<strong>ORGANIZE</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;, &ldquo;<strong>us</strong>&rdquo;
            or &ldquo;<strong>our</strong>&rdquo;) and you. ORGANIZE provides
            automated organ and tissue donation registration and declaration
            tools (&ldquo;<strong>Organ Donation Tools</strong>&rdquo;) at our
            website, www.organize.org. These Terms govern your use of our Organ
            Donation Builder Tool (&ldquo;<strong>Builder Tool</strong>&rdquo;)
            to create an Organ Donation Tool for your website or application. In
            consideration of your use of our Builder Tool, the parties agree as
            follows:</p>

        <ol>
            <li><strong>General Terms of Service and Privacy Policy</strong>.
                Unless otherwise agreed in writing with ORGANIZE, the Terms
                include (i) the terms and conditions in this document
                (&ldquo;<strong>Builder Tool Terms</strong>&rdquo;), (ii) the
                ORGANIZE Terms of Service, and (iii) our Privacy Policy. Before
                you use the Builder Tool, you should read each of the documents
                comprising the Terms, and print or save a local copy for your
                records. If there is any conflict between the Builder Tool Terms
                and other ORGANIZE documents, then the Builder Tool Terms will
                take precedence.<br/>
                We reserve the right to make changes to the Terms from time to
                time. When these changes are made, we will make a new copy of
                the Terms available at http://register.organize.org/widget/tos/
                (or such other URL as may be provided). You understand and agree
                that if you use the Builder Tool after the date on which the
                Terms have changed, we will treat your use as acceptance of the
                updated Terms. If a modification is unacceptable to you, you may
                terminate this agreement by ceasing use of the Builder Tool.
            </li>

            <li><strong>Acceptance of the Terms</strong>. In order to use the
                Builder Tool, you must agree to the Terms by (i) clicking to
                accept the Terms, where this option is made available to you by
                us on our website or otherwise, or (ii) using the Builder Tool.
                You understand and agree that we will treat your use of the
                Builder Tool as acceptance of the Terms from that point onwards.<br/>
                You represent that you have full power, capacity, and authority
                to accept these Terms. If you are accepting on behalf of your
                employer or another entity, you represent that you have full
                legal authority to bind your employer or such entity to these
                Terms. If you don&rsquo;t have the legal authority to bind,
                please ensure that an authorized person from your entity
                consents to and accepts these Terms.
            </li>

            <li><strong>Compliance with Applicable Laws</strong>. The Builder
                Tool is hosted in New York, NY, and use of the Builder Tool is
                not intended to subject ORGANIZE to the law or jurisdiction of
                any country or territory. We make no claims concerning whether
                the Builder Tool may be appropriate for use outside of the
                United States. If you use the Builder Tool from outside of the
                United States, you do so at your own risk. Whether inside or
                outside of the United States, you are solely responsible for
                ensuring compliance with the laws of your specific jurisdiction.
            </li>

            <li><strong>Our Proprietary Rights</strong>. You understand and
                agree that we own all legal right, title, and interest in and to
                the Builder Tool, the Organ Donation Tools, and any ORGANIZE
                trademarks, service marks, or logos used in or displayed by the
                Builder Tool and Organ Donations Tools
                (&ldquo;<strong>Tools</strong>&rdquo;), including any
                intellectual property rights therein (whether those rights are
                registered or not, and wherever in the world those rights may
                exist) (&ldquo;<strong>ORGANIZE Trademarks</strong>&rdquo;).
                Other company, product, and service names used in or displayed
                by the Tools may be trademarks or service marks owned by third
                parties. Nothing in the Tools should be construed as granting,
                by implication, estoppel, or otherwise, any license or right to
                use any ORGANIZE Trademarks used in or displayed by the Tools
                without the prior written consent of ORGANIZE specific for each
                such use. All goodwill generated from the use of any ORGANIZE
                Trademarks shall inure to the benefit of ORGANIZE.
            </li>

            <li><strong>Your Use of the Builder Tool</strong>. Subject to these
                Terms, during the term of this agreement, we grant you a
                non-exclusive, worldwide, non-transferable, non-assignable,
                non-sublicensable, royalty-free license to use the Builder Tool
                as provided by us, in the manner permitted by the Terms, for the
                purpose of providing organ and tissue donation registration and
                declaration functionality in your website or application.<br/>
                You agree to display a hyperlink to the ORGANIZE home page
                (organize.org) with the text, &ldquo;Powered by ORGANIZE&rdquo;,
                in a conspicuous manner on each webpage or in each application
                where you use any product of the Builder Tool. You further agree
                to provide to us, upon our request, all user tracking and
                analytics data and reports (e.g., Google Analytics) relating to
                your use of any product of the Builder Tool.<br/>
                Except as expressly permitted under the Terms, the license above
                is conditioned on your adherence to all of the following
                restrictions. You will not, and will not permit a third party to
                (a) sublicense, distribute, sell, or otherwise make any part of
                the Tools available a third party except as permitted by these
                Terms, (b) take any action that imposes an unreasonable load on
                the infrastructure hosting the Tools, (c) use any device,
                software or routine to interfere or attempt to interfere with
                the proper working of the Tools, (d) perform an action with the
                intent of introducing to the Tools or the servers or networks
                providing the Tools any viruses, worms, defects, Trojan horses,
                malware, or any items of a destructive nature, (e) attempt to
                decipher, decompile, disassemble or reverse engineer any of the
                software comprising or making up the Tools, except to the extent
                that this restriction is expressly prohibited by applicable law,
                or (f) remove, obscure, or alter any ORGANIZE Trademarks, terms
                of service, or any links to or notices of those terms, from the
                Tools, or (g) modify or create a derivative work based on the
                Tools.
            </li>

            <li><strong>Your Account</strong>. In order to access and use the
                Builder Tool, you must ensure that all information provided to
                us in connection with such access in use will always be accurate
                and up to date. You must notify us immediately if you become
                aware of any unauthorized use of your API key or any other
                unique identifier that we may require you to use.
            </li>

            <li><strong>Licenses from You to ORGANIZE</strong>. During the term
                of this agreement, you give ORGANIZE a non-exclusive, worldwide,
                sublicensable, royalty-free license to use your trade names,
                trademarks, logos, domain names, and other distinctive brand
                features to publicize or advertise that you are using the
                Builder Tool (for example, by using your marks in presentations,
                marketing materials, customer lists, financial reports, and
                website listings (including links to your website).
            </li>

            <li><strong>Modification and Termination of Services</strong>. As we
                evolve, so will the Builder Tool. As a result, we may add or
                remove functionalities or features, and we may suspend or stop
                providing all or any part of the Builder Tool (including your
                use of thereof) without notice and for any reason. We also
                reserve the right, in our sole discretion, to restrict, suspend,
                or terminate this agreement and your access to all or any part
                of the Builder Tool without prior notice or liability.<br/>
                The Terms will continue to apply until terminated by either you
                or us. You may terminate your legal agreement with us by
                discontinuing your use of the Builder Tool at any time. You do
                not need to specifically inform us when you stop using the
                Builder Tool.<br/>
                When this legal agreement comes to an end, those Terms that by
                their nature are intended to continue indefinitely will continue
                to apply, including Sections 4 (Our Proprietary Rights); 9
                (Exclusion of Warranties); 10 (Limitations of Liability); 11
                (Indemnities); 12 (General Legal Terms); and this paragraph.
            </li>

            <li><strong>Exclusion of Warranties</strong>. We are a charitable
                organization that provides our Builder Tool to you at minimal
                cost. As a result, we exclude warranties and fiduciary
                obligations and include disclaimers and limitations on our
                liability as follows:<br/>
                NOTHING IN THESE TERMS, INCLUDING SECTIONS 9 AND 10, WILL
                EXCLUDE OR LIMIT OUR WARRANTY OR LIABILITY FOR LOSSES THAT MAY
                NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME
                JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES
                OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
                CERTAIN TYPES OF LOSS OR DAMAGES. ACCORDINGLY, ONLY THE
                LIMITATIONS THAT ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO
                YOU, AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT
                PERMITTED BY LAW.<br/>
                WE DON&rsquo;T MAKE ANY SPECIFIC PROMISES OR GUARANTEES ABOUT
                THE BUILDER TOOL. FOR EXAMPLE, WE DON&rsquo;T MAKE ANY
                COMMITMENTS ABOUT THE CONTENT ACCESSED USING THE BUILDER TOOL,
                THE SPECIFIC FUNCTIONS OF THE BULDER TOOL, OR ITS RELIABILITY,
                AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE
                BUILDER TOOL &ldquo;AS IS&rdquo; AND YOUR USE OF IT IS AT YOUR
                OWN RISK. WE DISCLAIM ALL IMPLIED WARRANTIES, INCLUDING FOR
                NON-INFRINGEMENT, SATISFACTORY QUALITY, MERCHANTABILITY AND
                FITNESS FOR ANY PURPOSE.<br/>
                10. Limitations of Liability. YOU EXPRESSLY UNDERSTAND AND AGREE
                THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE WILL
                NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
                CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES THAT MAY BE
                INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF
                LIABILITY (INCLUDING CONTRACT, TORT, COMMON LAW, OR STATUTORY
                DAMAGES); ANY LOSS OF REVENUES OR PROFIT (WHETHER INCURRED
                DIRECTLY OR INDIRECTLY); ANY LOSS OF GOODWILL OR BUSINESS
                REPUTATION; ANY LOSS OR THEFT OF DATA; ANY LOSS ARISING FROM
                DOWNTIME OR INTERRUPTION OF SERVICE, BREACH OF SECURITY,
                INTRUSION OR UNAUTHORIZED ACCESS TO OUR NETWORK OR SYSTEMS; ANY
                COST TO PROCURE SUBSTITUTE GOODS OR SERVICES; ANY INTANGIBLE
                LOSS; OR ANY CHANGE THAT WE MAY MAKE TO THE BULDER TOOL OR ANY
                PERMANENT OR TEMPORARY DISCONTINUATION OF THE BUILDER TOOL (OR
                ANY FEATURES WITHIN THE BUILDER TOOL). THESE LIMITATIONS ON OUR
                LIABILITY WILL APPLY WHETHER OR NOT WE HAVE BEEN ADVISED OF OR
                SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES OR
                DAMAGES. TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF
                ORGANIZE FOR ALL CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY
                IMPLIED WARRANTIES, IS LIMITED TO THE SUM OF THE FEES PAID BY
                YOU TO ORGANIZE UNDER THIS AGREEMENT OR $36, WHICHEVER IS
                GREATER.<br/>
                WE ARE NOT INVOLVED WITH ORGAN OR TISSUE DONATION DECISIONS MADE
                BASED UPON YOUR REGISTERING OR DECLARING AND YOU RELEASE US FROM
                ALL MANNER OF ACTIONS, WHETHER PAST, PRESENT OR FUTURE, ACTUAL
                OR CONTINGENT, ARISING OUT OF OR RELATED TO SUCH DONATIONS OR
                DECISIONS.<br/>
                NEITHER PARTY OWES THE OTHER ANY DUTIES, FIDUCIARY OR OTHERWISE,
                AND EACH PARTY RELEASES THE OTHER FROM ALL MANNER OF ACTIONS,
                WHETHER PAST, PRESENT OR FUTURE, ACTUAL OR CONTINGENT, ARISING
                OUT OF OR RELATED TO SUCH DUTIES.<br/>

            <li><strong>Indemnities</strong>. Each party is solely responsible
                for (and has no responsibility to the other or any third party
                for) any breach of its obligations under the Terms and for the
                consequences of any such breach (including any loss or damage
                that the other party may suffer). Each party will defend and
                indemnify the other party and its affiliates, directors,
                officers, employees, partners, licensors, and suppliers against
                all liabilities, damages, losses, costs, fees (including legal
                fees), and expenses relating to any allegation or third-party
                legal proceeding to the extent arising from a breach of this
                agreement. The parties will cooperate as fully as reasonably
                required in the defense of any allegation or third-party legal
                proceeding.
            </li>

            <li><strong>General Legal Terms</strong>
                <ol>

                    <li>Third-Party Beneficiaries. These Terms control the
                        relationship between ORGANIZE and you. They do not
                        create any third party beneficiary rights.
                    </li>

                    <li>Entire Agreement. These Terms are the parties&rsquo;
                        entire agreement relating to its subject and supersede
                        any prior or contemporaneous agreements on that subject.
                    </li>

                    <li>Notice. Except as otherwise stated herein, all notices
                        must be in writing and sent to the other party via
                        email &mdash; for ORGANIZE at notice@ORGANIZE.org and,
                        for you, to any email address you provide to us.
                    </li>

                    <li>Independent Relationship. These Terms do not create any
                        agency, partnership or joint venture among the parties.
                    </li>

                    <li>Assignment. ORGANIZE may assign any part of this
                        agreement without written consent.
                    </li>

                    <li>No Waiver. We will not be treated as having waived any
                        rights by not exercising (or delaying the exercise of)
                        any rights under these Terms. A waiver will be effective
                        only if we expressly state in a writing signed by an
                        authorized representative that we are waiving a
                        specified term.
                    </li>

                    <li>Severability. If any term (or part of a term) of these
                        Terms is invalid, illegal or unenforceable, the rest of
                        the Terms will remain in effect.
                    </li>

                    <li>Equitable Relief. You understand and agree that damages
                        for improper use of the Tools may be irreparable;
                        therefore, we are entitled to seek equitable relief,
                        including injunctions in any jurisdiction, in addition
                        to all other remedies we may have.
                    </li>

                    <li>Governing Law. ALL CLAIMS ARISING OUT OR RELATING TO
                        THESE TERMS OR ANY RELATED SERVICES (INCLUDING ANY
                        DISPUTE REGARDING THE INTERPRETATION OR PERFORMANCE OF
                        THESE TERMS) WILL BE GOVERNED BY THE LAWS OF THE STATE
                        OF NEW YORK, USA, EXCLUDING NEW YORK&rsquo;S CONFLICTS
                        OF LAWS RULES. REFER TO THE ORGANIZE TERMS OF SERVICE
                        FOR OUR DISPUTE RESOLUTION TERMS.
                    </li>

                </ol>
        </ol>
    </div>
</div>
{% endblock %}
