{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>{{ page_title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
        <p class="lead">Complete the form to create a Branded Registration Site for your audience. ORGANIZE will give you a link to paste into your e-blast so we can track the number of registrations that come through your efforts.</p>
        <p class="lead">We&rsquo;re really excited, and hope you are too.</p>
        <p class="lead">Thanks again.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <form class="register" enctype="multipart/form-data" role="form" action="{% url 'cobrand_create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form size='lg' %}

            <hr />

            {% buttons %}
                <button type="submit" class="btn btn-primary btn-organize" disabled>Submit &rsaquo;
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
