{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1 class="text-center">{% blocktrans %}{{ page_title }}{% endblocktrans %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">&nbsp;</div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
        <p class="lead text-center">
            {% blocktrans trimmed %}
                This is your custom link to send out to your team:
            {% endblocktrans %}
        </p>
        <p class="lead text-center">
            {% blocktrans trimmed %}
                <form>
                    <input id="redirect_url" type="text" class="form-control input-lg" value="{{ company_redirect_url }}"></input>
                </form>
            {% endblocktrans %}
        </p>
        <p class="lead text-center">
            {% blocktrans trimmed %}
                We&rsquo;ll tally up your registrations and let you know just how many lives you may have potentially saved. If you plan on sending this out to your team, we recommend you use the email copy below, but feel free to change it up to make it your own.
            {% endblocktrans %}
        </p>

        <p class="lead text-center">
            {% blocktrans trimmed %}
                <div class="well well-lg">
                    <p>Hi Everyone,</p>

                    <p>We&rsquo;ve recently partnered with <a href="http://www.organize.org">ORGANIZE</a>, an amazing non-profit working to solve the organ donation crisis in the U.S.  Seeing as today is <a href="http://givingtuesday.org">Giving Tuesday</a>, we thought this would be a great opportunity to offer you all a way to give back at no cost: by registering to be an organ donor.</p>

                    <p></p>It’s quick and easy and very impactful.</p>

                    <p>Just follow the link and you&rsquo;ll be well on your way to supporting a great organization and an even better cause!</p>

                    <p><a href="{{ company_redirect_url }}">{{ company_redirect_url }}</a></p>
                </div>
            {% endblocktrans %}
        </p>
    </div>

    <div class="visible-xs col-lg-3 col-md-4 col-sm-5 col-xs-12">&nbsp;</div>

</div>

{% endblock %}

{% block script %}
<!-- Google Code for Registration Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 911750952;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Wyk4CPG8q1kQqO7gsgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/911750952/?label=Wyk4CPG8q1kQqO7gsgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $(document).on('click', 'input[#redirect_url]', function(){ this.select(); });
    });
</script>
{% endblock %}
