{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1 class="text-center">{% blocktrans %}{{ page_title }}{% endblocktrans %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-24">
        <p class="lead">
            {% blocktrans trimmed %}
                YOUR LINK:
            {% endblocktrans %}
        </p>
        <p class="lead">
            {% blocktrans trimmed %}
                <form>
                    <input id="redirect_url" type="text" class="form-control input-lg" value="{{ company_redirect_url }}"></input>
                </form>
            {% endblocktrans %}
        </p>
        <p class="lead">
            {% blocktrans trimmed %}
                We&rsquo;ll let you know how many registrations you helped collect.
            {% endblocktrans %}
        </p>

    <div class="panel panel-default panel-danger">
        <div class="panel-heading lead">
            Here is some sample copy to use in an email:
        </div>
        <div class="panel-body">
            <p class="lead">Since today is <a href="http://www.givingtuesday.com/">Giving Tuesday</a> {{ object.company_name }} thought this would be a great opportunity to offer you a way to give back for free by <a href="{{ company_redirect_url }}">REGISTERING TO BE AN ORGAN DONOR</a>.</p>

            <p class="lead">Take 47 seconds to register to be an ORGAN DONOR.</p>

            <p class="lead">You are six times more likely to need an organ than become a donor. Be a part of GivingTuesday and <a href="{{ company_redirect_url }}">REGISTER HERE</a> to save up to eight lives.</p>

            <p class="lead">If you&rsquo;ve already gone through the process at your state&rsquo;s DMV (sorry, that must have been rough), please consider <a href="{{ company_redirect_url }}">REGISTERING</a> again to make sure your registration will be searchable even outside of your current state of residence.</p>

            <p class="lead">Thank you for giving back,</p>

            <p class="lead">ORGANIZE and {{ object.company_name }}</p>

            <hr/>

            <p class="lead">ORGANIZE is a new 501(c)3 non-profit modernizing the organ donation system, and built the country&rsquo;s first ever central donor registry. Our goal is to solve the organ donation crisis in the next three years and then to shut our doors completely.</p>

        </div>
    </div>

    <div class="visible-xs col-lg-3 col-md-4 col-sm-5 col-xs-12">&nbsp;</div>

</div>

{% endblock %}

{% block script %}
<!-- Google Code for Registration Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 911750952;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Wyk4CPG8q1kQqO7gsgM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/911750952/?label=Wyk4CPG8q1kQqO7gsgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $(document).on('click', 'input[#redirect_url]', function(){ this.select(); });
    });
</script>
{% endblock %}
