{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="/favicon.ico">

        <title>ORGANIZE / {{ title|default:"Register to become an organ donor" }}</title>
        {% if html_description %}
            <meta name="description" content="{{ html_description }}">
        {% endif %}

        {% bootstrap_css %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic|Montserrat:700' rel='stylesheet' type='text/css'>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand">
                        {% block navbar_brand %}
                            <a href="{% url 'home' %}"><img width="160" height="24" alt="ORGANIZE Logo" src="{% static 'images/logo-small.png' %}"/></a>
                        {% endblock %}
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            {% bootstrap_messages %}

            {% block content %}
                {{ content }}
            {% endblock %}

        </div><!-- /.container -->

        {% bootstrap_javascript %}
        <script>window.jQuery || document.write('<script src="{% static 'js/jquery.js' %}"><\/script>')</script>
        {% block script %}{% endblock %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
