{% load email %}
{% load url_extras %}

{% subject %}
Thanks for hosting an ORGANIZE Embedded Organ Donor Registration Form on your website!
{% endsubject %}

{% body %}
{{ contact_name }},

You've now received your button for your very own pop-up to register people to be organ donors. If you want to adjust any settings, click the link below to generate updated code to insert into the HTML code on your site:

{{ widget_url }}

Thank you in advance for your support. Any additional outreach you can provide would be greatly appreciated. We'll circle back with results.

The ORGANIZE Team
{% endbody %}
